tech-df-azure/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "tech-df-azure"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/increm_load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_increm_data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last_load",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "current_load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from source_cars_data where Date_ID >  ' @{activity('Last_load').output.value[0].last_load}'  AND Date_ID <= '@{activity('current_load').output.firstRow.max_date}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "source_cars_data"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Last_load",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from water_tabel",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "water_tabel"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "current_load",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(Date_ID) as max_date from source_cars_data",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "source_cars_data"
								}
							}
						}
					},
					{
						"name": "watermark_update",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_increm_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermarkTable]",
							"storedProcedureParameters": {
								"lastload": {
									"value": {
										"value": "@activity('current_load').output.firstRow.max_date\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_az_sql_db_d",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-08T05:49:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fact_sales",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "customer",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "inventory",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "product",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/yaswanthkalyan.p@techouts.com/customer/dim_sales"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks2",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "customer",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "customer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "inventory",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "inventory",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "product",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "product",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-26T05:55:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/source_prep')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Git_data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Branch_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Branch_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Dealer_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dealer_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Model_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Model_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Revenue",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Revenue",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Units_Sold",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Units_Sold",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Date_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Day",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DealerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DealerName",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_git",
								"type": "DatasetReference",
								"parameters": {
									"load_flag": "SalesData.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "source_cars_data"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-08T05:06:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_American')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "Lccn",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "StartYear",
						"type": "nvarchar"
					},
					{
						"name": "Language",
						"type": "nvarchar"
					},
					{
						"name": "issueCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "PublicationDetails",
						"type": "nvarchar"
					},
					{
						"name": "FirstIssueDate",
						"type": "date"
					},
					{
						"name": "LastIssueDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AmericanPapers_2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Americapapers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Americanpapers.json",
						"folderPath": "API",
						"container": "sink"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"content.results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"access_restricted": {
										"type": "boolean"
									},
									"aka": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"batch": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"calendar_url": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"icon": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"screen_readers_only": {
												"type": "boolean"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"campaigns": {
										"type": "array"
									},
									"composite_location": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"date": {
										"type": "string"
									},
									"description": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"digitized": {
										"type": "boolean"
									},
									"extract_timestamp": {
										"type": "string"
									},
									"group": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"hassegments": {
										"type": "boolean"
									},
									"id": {
										"type": "string"
									},
									"image_url": {
										"type": "array"
									},
									"index": {
										"type": "integer"
									},
									"item": {
										"type": "object",
										"properties": {
											"call_number": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"created_published": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"date": {
												"type": "string"
											},
											"format": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"genre": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"holding_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"dates": {
															"type": "array",
															"items": {
																"type": "string"
															}
														},
														"description": {
															"type": "array",
															"items": {
																"type": "string"
															}
														},
														"institutions": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"institution_city": {
																		"type": "string"
																	},
																	"institution_name": {
																		"type": "string"
																	},
																	"institution_state": {
																		"type": "string"
																	}
																}
															}
														},
														"number_holding_type": {
															"type": "array",
															"items": {
																"type": "string"
															}
														},
														"source_filename": {
															"type": "string"
														}
													}
												}
											},
											"language": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"location": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"medium": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"notes": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"preceding_titles": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"label": {
															"type": "string"
														},
														"url": {
															"type": "string"
														}
													}
												}
											},
											"raw_lccn": {
												"type": "string"
											},
											"source_group": {
												"type": "string"
											},
											"subjects": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"succeeding_titles": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"label": {
															"type": "string"
														},
														"url": {
															"type": "string"
														}
													}
												}
											},
											"title": {
												"type": "string"
											}
										}
									},
									"language": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"latlong": {
										"type": "array",
										"items": {
											"type": "number"
										}
									},
									"location": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_city": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_country": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_county": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_state": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"location_str": {
										"type": "string"
									},
									"lonlat": {
										"type": "array",
										"items": {
											"type": "number"
										}
									},
									"number": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_first_issue": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_hasessay": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"screen_readers_only": {
												"type": "boolean"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_holding_type": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_institution": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_issn": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_issue_count": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_last_issue": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_lccn": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_oclc": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_preceding_items": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_source_modified": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_succeeding_items": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"original_format": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof_collection": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof_division": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof_title": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"publication_frequency": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"resources": {
										"type": "array"
									},
									"shelf_id": {
										"type": "string"
									},
									"site": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"subject": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"subject_ethnicity": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"timestamp": {
										"type": "string"
									},
									"title": {
										"type": "string"
									},
									"type": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"url": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_sql_American3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "Lccn",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "StartYear",
						"type": "nvarchar"
					},
					{
						"name": "Language",
						"type": "nvarchar"
					},
					{
						"name": "issueCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "PublicationDetails",
						"type": "nvarchar"
					},
					{
						"name": "FirstIssueDate",
						"type": "date"
					},
					{
						"name": "LastIssueDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AmericanPapers_3"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Americanpapers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Americanpapers.json",
						"folderPath": "API",
						"container": "sink"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Americanpapers_fixed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Americanpapers_fixed.json",
						"folderPath": "API",
						"container": "sink"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"access_restricted": {
										"type": "boolean"
									},
									"aka": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"batch": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"calendar_url": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"icon": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"screen_readers_only": {
												"type": "boolean"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"campaigns": {
										"type": "array"
									},
									"composite_location": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"date": {
										"type": "string"
									},
									"description": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"digitized": {
										"type": "boolean"
									},
									"extract_timestamp": {
										"type": "string"
									},
									"group": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"hassegments": {
										"type": "boolean"
									},
									"id": {
										"type": "string"
									},
									"image_url": {
										"type": "array"
									},
									"index": {
										"type": "integer"
									},
									"item": {
										"type": "object",
										"properties": {
											"call_number": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"created_published": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"date": {
												"type": "string"
											},
											"format": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"genre": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"holding_data": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"dates": {
															"type": "array",
															"items": {
																"type": "string"
															}
														},
														"description": {
															"type": "array",
															"items": {
																"type": "string"
															}
														},
														"institutions": {
															"type": "array",
															"items": {
																"type": "object",
																"properties": {
																	"institution_city": {
																		"type": "string"
																	},
																	"institution_name": {
																		"type": "string"
																	},
																	"institution_state": {
																		"type": "string"
																	}
																}
															}
														},
														"number_holding_type": {
															"type": "array",
															"items": {
																"type": "string"
															}
														},
														"source_filename": {
															"type": "string"
														}
													}
												}
											},
											"language": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"location": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"medium": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"notes": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"preceding_titles": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"label": {
															"type": "string"
														},
														"url": {
															"type": "string"
														}
													}
												}
											},
											"raw_lccn": {
												"type": "string"
											},
											"source_group": {
												"type": "string"
											},
											"subjects": {
												"type": "array",
												"items": {
													"type": "string"
												}
											},
											"succeeding_titles": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"label": {
															"type": "string"
														},
														"url": {
															"type": "string"
														}
													}
												}
											},
											"title": {
												"type": "string"
											}
										}
									},
									"language": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"latlong": {
										"type": "array",
										"items": {
											"type": "number"
										}
									},
									"location": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_city": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_country": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_county": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"location_state": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"location_str": {
										"type": "string"
									},
									"lonlat": {
										"type": "array",
										"items": {
											"type": "number"
										}
									},
									"number": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_first_issue": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_hasessay": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"screen_readers_only": {
												"type": "boolean"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_holding_type": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_institution": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_issn": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_issue_count": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_last_issue": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"number_lccn": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_oclc": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_preceding_items": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_source_modified": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"number_succeeding_items": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"original_format": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof_collection": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof_division": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"partof_title": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"url": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"publication_frequency": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"resources": {
										"type": "array"
									},
									"shelf_id": {
										"type": "string"
									},
									"site": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"subject": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"subject_ethnicity": {
										"type": "object",
										"properties": {
											"class": {
												"type": "string"
											},
											"label": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"timestamp": {
										"type": "string"
									},
									"title": {
										"type": "string"
									},
									"type": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"url": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_BinaryAmericanewsPaper')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Americanpapers.json",
						"folderPath": "API",
						"container": "sink"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_TechCrunchArticles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PostID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PublicationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "PostURL",
						"type": "nvarchar"
					},
					{
						"name": "AuthorID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TechCrunchArticles"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_c')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "NewspaperTitle",
						"type": "nvarchar"
					},
					{
						"name": "Lccn",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "StartYear",
						"type": "nvarchar"
					},
					{
						"name": "Language",
						"type": "nvarchar"
					},
					{
						"name": "IssueCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Url",
						"type": "nvarchar"
					},
					{
						"name": "PublicationDetails",
						"type": "nvarchar"
					},
					{
						"name": "FirstIssueDate",
						"type": "nvarchar"
					},
					{
						"name": "LastIssueDate",
						"type": "nvarchar"
					},
					{
						"name": "Oclc",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 9,
						"scale": 6
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 9,
						"scale": 6
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NewspaperTitles"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_charisma')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "location_city",
						"type": "nvarchar"
					},
					{
						"name": "location_state",
						"type": "nvarchar"
					},
					{
						"name": "start_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "language",
						"type": "nvarchar"
					},
					{
						"name": "digitized",
						"type": "bit"
					},
					{
						"name": "issue_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "created_date",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NewsPaperDatas"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "nvarchar"
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "location_city",
						"type": "nvarchar"
					},
					{
						"name": "location_state",
						"type": "nvarchar"
					},
					{
						"name": "start_date",
						"type": "int",
						"precision": 10
					},
					{
						"name": "language",
						"type": "nvarchar"
					},
					{
						"name": "digitized",
						"type": "bit"
					},
					{
						"name": "issue_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "created_date",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NewspaperTitles"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_techcrunch')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "techcrunch.json",
						"folderPath": "API",
						"container": "sink"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_Americanpapers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "LCCN",
						"type": "varchar"
					},
					{
						"name": "NewspaperTitle",
						"type": "varchar"
					},
					{
						"name": "Location",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "URL",
						"type": "varchar"
					},
					{
						"name": "PublicationDetails",
						"type": "varchar"
					},
					{
						"name": "Language",
						"type": "varchar"
					},
					{
						"name": "StartYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IssueCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstIssueDate",
						"type": "date"
					},
					{
						"name": "LastIssueDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AmericanNewspapers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_Americanpaperss')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "Lccn",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "nvarchar"
					},
					{
						"name": "StartYear",
						"type": "nvarchar"
					},
					{
						"name": "Language",
						"type": "nvarchar"
					},
					{
						"name": "issueCount",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "PublicationDetails",
						"type": "nvarchar"
					},
					{
						"name": "FirstIssueDate",
						"type": "date"
					},
					{
						"name": "LastIssueDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AmericanPapers_2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_Techcrunch_v2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Y_ls_sql_pass",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PostID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PublicationDate",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "PostURL",
						"type": "nvarchar"
					},
					{
						"name": "AuthorID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TechCrunchArticles_v2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TransfromCSV')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DataFlowCsv",
								"type": "DatasetReference"
							},
							"name": "sourceCSV"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataflow_sink",
								"type": "DatasetReference"
							},
							"name": "sink"
						}
					],
					"transformations": [
						{
							"name": "selectCols"
						},
						{
							"name": "filterRows"
						},
						{
							"name": "split1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          transaction_id as short,",
						"          transactional_date as timestamp,",
						"          product_id as string,",
						"          customer_id as short,",
						"          payment as string,",
						"          credit_card as long,",
						"          loyalty_card as boolean,",
						"          cost as double,",
						"          quantity as short,",
						"          price as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceCSV",
						"sourceCSV select(mapColumn(",
						"          transaction_id,",
						"          transactional_date,",
						"          product_id,",
						"          customer_id,",
						"          payment,",
						"          price",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectCols",
						"selectCols filter(customer_id != 12) ~> filterRows",
						"filterRows split(payment == 'visa',",
						"     payment=='mastercard',",
						"     disjoint: false) ~> split1@(visa, mastercard, amex)",
						"split1@amex derive(payment = coalesce(payment,'N/A')) ~> derivedColumn1",
						"split1@visa aggregate(groupBy(customer_id),",
						"     product_id = max(product_id)) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          transaction_id as string,",
						"          transactional_date as string,",
						"          product_id as string,",
						"          customer_id as string,",
						"          payment as string,",
						"          credit_card as string,",
						"          loyalty_card as string,",
						"          cost as string,",
						"          quantity as string,",
						"          price as string",
						"     ),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Process_Git_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy datagit",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sourcegit",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Copy datagit",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "IfFileMatches",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@startswith(item().name,'Fact' )",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CopyFact data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"modifiedDatetimeStart": null,
															"modifiedDatetimeEnd": null,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "parameter_data",
														"type": "DatasetReference",
														"parameters": {
															"p_file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "report_sink",
														"type": "DatasetReference",
														"parameters": {
															"p_file_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "DataTransformation",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TransfromCSV",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceCSV": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-30T11:26:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TransfromCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDdataflow4')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_rest_newspaper_titles",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_c",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          body as ({content.results} as (access_restricted as boolean, aka as string[], batch as string[], calendar_url as (class as string, icon as string, label as string, screen_readers_only as boolean, url as string, value as string), campaigns as string[], composite_location as string[], contributor as string[], date as string, description as string[], digitized as boolean, extract_timestamp as string, group as string[], hassegments as boolean, id as string, image_url as string[], index as short, item as (call_number as string[], contributors as string[], created_published as string[], date as string, essay_contributor as string[], format as string[], genre as string[], holding_data as (dates as string[], description as string[], institutions as (institution_city as string, institution_name as string, institution_state as string)[], notes as string[], number_holding_type as string[], source_filename as string)[], language as string[], location as string[], medium as string[], notes as string[], other_title as string[], preceding_titles as (label as string, url as string)[], raw_lccn as string, related_titles as (label as string, url as string)[], source_group as string, subjects as string[], succeeding_titles as (label as string, url as string)[], title as string), language as (class as string, label as string, value as string), latlong as double[], location as string[], location_city as string[], location_country as string[], location_county as string[], location_state as (class as string, label as string, value as string), location_str as string, lonlat as double[], number as string[], number_first_issue as (class as string, label as date, url as string, value as string), number_hasessay as (class as string, icon as string, label as boolean, screen_readers_only as boolean, url as string, value as boolean), number_holding_type as string[], number_institution as string[], number_issn as string[], number_issue_count as (class as string, label as short, value as short), number_last_issue as (class as string, label as date, url as string, value as string), number_lccn as string[], number_oclc as integer[], number_preceding_items as string[], number_related_items as string[], number_source_modified as string[], number_succeeding_items as string[], original_format as string[], other_title as string[], partof as string[], partof_collection as string[], partof_division as string[], partof_title as (class as string, label as string, url as string, value as string), publication_frequency as string[], resources as string[], shelf_id as string, site as string[], subject as string[], subject_ethnicity as (class as string, label as string, value as string), timestamp as string, title as string, type as string[], url as string)[]),",
						"          headers as [string,string]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     paginationRules: ['supportRFC5988' -> 'true'],",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine']) ~> source1",
						"source1 foldDown(unroll(body.{content.results}, body.{content.results}),",
						"     mapColumn(",
						"          NewspaperTitle = body.{content.results}.title,",
						"          Lccn = body.{content.results}.number_lccn,",
						"          Location = body.{content.results}.location,",
						"          State = body.{content.results}.location_state.label,",
						"          StartYear = body.{content.results}.item.date,",
						"          Language = body.{content.results}.language.label,",
						"          IssueCount = body.{content.results}.number_issue_count.label,",
						"          Url = body.{content.results}.calendar_url.url,",
						"          PublicationDetails = body.{content.results}.item.created_published,",
						"          FirstIssueDate = body.{content.results}.number_first_issue.label,",
						"          LastIssueDate = body.{content.results}.number_last_issue.label,",
						"          Oclc = body.{content.results}.number_oclc,",
						"          Latitude = body.{content.results}.latlong,",
						"          Longitude = body.{content.results}.latlong",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          NewspaperTitle as string,",
						"          Lccn as string,",
						"          Location as string,",
						"          State as string,",
						"          StartYear as string,",
						"          Language as string,",
						"          IssueCount as integer,",
						"          Url as string,",
						"          PublicationDetails as string,",
						"          FirstIssueDate as string,",
						"          LastIssueDate as string,",
						"          Oclc as string,",
						"          Latitude as decimal(9,6),",
						"          Longitude as decimal(9,6)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          NewspaperTitle,",
						"          Lccn,",
						"          Location,",
						"          State,",
						"          StartYear,",
						"          Language,",
						"          IssueCount,",
						"          Url,",
						"          PublicationDetails,",
						"          FirstIssueDate,",
						"          LastIssueDate,",
						"          Oclc,",
						"          Latitude,",
						"          Longitude",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_c')]"
			]
		}
	]
}